
.main_about{
    margin-top: 16px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    height: 502px;
    display: flex;
    align-items: center;
    color: antiquewhite;
}
.left-img{
    height: 465px;
}

.right-intro{
    display: flex;
    align-items: center;
    height: 440px;
    margin-left: 37px;
}
.introduction h1{
    color: deeppink;
    font-weight: 500;
}
.about_skill h1{
    color: antiquewhite;
    text-align: center;
}
.about_skill h1 span{
    color: deeppink;
    
}
.p_skill{
    color: antiquewhite;
} 

#p_skill_1{
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    grid-template-rows: 200px;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;

}

#p_skill_2{
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 200px;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
}
.skill{
    border: 2px solid deeppink;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    transition: 0.5s ;

}
.skill:hover{
    /* cursor: pointer; */
    margin: -5px;
    box-shadow: 0 0 20px 4px magenta;
    color: deeppink;
    background-color: rgb(9, 18, 14);
    
    /* transition: 5s ease-in; */
}

