*{
    margin: 0;
    padding: 0;
    color: antiquewhite;
}
.contact{
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 40px;

}
.contact_left{
    width: 650px;

}
.contact .contact_details{
    display: flex;
    font-weight: 500;
}
span{
    color: deeppink;
}
.vector {
    /* display: flex;
    justify-content: center;
    margin-right: 20px; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:left;
    column-gap: 20px;
    font-size: 20px;
    /* margin-top: 20px; */
    /* transition: background 0.5s, transform 0.5s; */
}