*{
    margin:0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    /* color: antiquewhite; */
}
body{
    background-color: black;
}
.navbar {
    display: flex;
    top: 0;
    position: sticky;
    /* backdrop-filter: blur(15px)!important; */
    background-color: black;
    z-index: 1;
}
.logo{
    height: 85px;
    width: 85px;
    margin-left: 21px;
}
.navright{
    margin-left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navright li{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin-right: 69px;
}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    display: flex;
    
}
li::after {
    content: '';
    width: 0;
    height: 5px;
    display: flex;
    border-radius: 16px;
    /* margin-left:0 ;
    margin-bottom:-8px ; */
    background: deeppink;
    transition: 0.5s;
}

li.active_link::after {
    width: 100%; 
} 

.source_code_img{
    height: 35px;
    width: 50px;
}

.source_code_img:hover{
    height: 45px;
    width: 60px;
    transition: 0.3s ease-in-out;
}